# **Notebook #1:**
This note book includes the data retreiving from database, selecting cohort and creating  csv to work further. https://drive.google.com/file/d/1oqZ2FsEBxgczXu-DlsxMo1XQIMMgAnP1/view?usp=sharing

Notebook #2:This notebook contains the EDA and creation of userbased table for M.L. https://colab.research.google.com/drive/1nNKIfJUCpx0ck2U2BAn800pSYgmSdw-T?usp=sharing

Notebook #3:
This notebook contains the PCA and clustring. https://colab.research.google.com/drive/1LrMeTDgjzStPT4a8MwGloUZSqwEHLKvr?usp=sharing

#**TravelTide Mastery Project**

Intro to TravelTide:

E-booking startup TravelTide is a hot new player in the online travel industry. It has experienced steady growth since it was founded at the tail end of the COVID-19 pandemic (2021-04) on the strength of its data aggregation and search technology, which is best in class. Feedback from the customers has shown - and industry analysts agree - that TravelTide customers have access to the largest travel inventory in the e-booking space!
CEO Kevin Talanick is very motivated to retain and add value to existing customers with a Marketing strategy built on a solid understanding of customer behavior to improve customer retention.

Our mission as Data Analysts is two-fold:
First, we need to check if the data supports Elenaâ€™s hypothesis about the existence of customers that would be especially interested in the perks she is proposing.
Then, for each customer, assign a likely favorite perk.

TravelTide database has four different tables.
- users: user demographic information
- sessions: information about individual browsing sessions (note: only sessions with at least 2 clicks are included)
- Flights: information about purchased flights
- hotels: information about hotel booked

# 1. Importing Libraries

In [2]:
import sqlalchemy as sa

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import date

In [3]:
print(sa.__version__)
print(pd.__version__)
print(np.__version__)
print(sns.__version__)

2.0.40
2.2.2
2.0.2
0.13.2

# 2. Retreiving Data
Traveltide database is accessed through sqlalchemy and all four tables are qurried and saved in dataframes using appropriate names.
- **i- User Table**
user demographic information
- **ii- Sessions table** information about individual browsing sessions (note: only sessions with at least 2 clicks are included)
- **iii- Flights Table** information about purchased flights
- **iv- Flights Table** information about hotel booked

In [ ]:
TravelTide_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require'
engine = sa.create_engine(TravelTide_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [ ]:
#User table
query = """ select * from users """
df_users=pd.read_sql(sa.text(query),connection)

#Sessions table
query = """ select * from sessions """
df_sessions=pd.read_sql(sa.text(query),connection)

#flights table
query = """ select * from flights """
df_flights=pd.read_sql(sa.text(query),connection)

#hotels table
query = """ select * from hotels """
df_hotels=pd.read_sql(sa.text(query),connection)

print('\n',"---User table---",'\n' )
print('\n',df_users.head(), '\n')

print('\n',"---session table---",'\n' )
print(df_sessions.head(), '\n')

print('\n',"---flights table---",'\n' )
print(df_flights.head(),'\n')

print('\n',"---hotels table---",'\n' )
print(df_hotels.head(),'\n')

 ---User table---


    user_id   birthdate gender  married  has_children home_country  \
0        0  1990-01-22      F    False         False          usa
1        1  2000-11-08      M    False         False          usa
2        2  1992-09-21      M    False         False          usa
3        3  1996-11-27      F    False         False          usa
4        4  1978-01-05      M     True          True          usa

          home_city home_airport  home_airport_lat  home_airport_lon  \
0       minneapolis          MSP            44.880           -93.217
1  colorado springs          COS            38.806          -104.700
2          portland          PDX            45.589          -122.597
3           houston          IAH            29.980           -95.340
4          honolulu          HNL            21.316          -157.927

  sign_up_date
0   2021-04-01
1   2021-04-01
2   2021-04-01
3   2021-04-01
4   2021-04-01


 ---session table---

                                session_id  user_id  \
0  455677-94aebf9acc05484e905414f6d2e7bcba   455677
1  455685-249e18063cdb48faa5ff7b8f81f0da14   455685
2  455709-62ed9594ac9047c68561faeabd29f19b   455709
3  455736-5efe0ef5936b4a658fb4b7827df4458e   455736
4  455765-c300e8a6df754f9d95abd982b34ec177   455765

                                   trip_id       session_start  \
0                                     None 2023-02-11 18:50:00
1  455685-69f360f4554b4dee847a52136464d356 2023-02-11 02:39:00
2  455709-f90ec1b83c8e4c0cb29509c01473edc3 2023-02-11 17:38:00
3  455736-36029623c3a04507bbde765b1d068159 2023-02-11 17:40:00
4  455765-c5b93d9a4a2b493c9369362d12b25495 2023-02-11 12:18:00

          session_end  flight_discount  hotel_discount  \
0 2023-02-11 18:51:09            False           False
1 2023-02-11 02:41:41            False           False
2 2023-02-11 17:41:06            False           False
3 2023-02-11 17:41:35            False            True
4 2023-02-11 12:20:36            False           False

   flight_discount_amount  hotel_discount_amount  flight_booked  hotel_booked  \
0                     NaN                    NaN          False         False
1                     NaN                    NaN           True          True
2                     NaN                    NaN           True          True
3                     NaN                    0.1          False          True
4                     NaN                    NaN           True          True

   page_clicks  cancellation
0            9         False
1           22         False
2           25         False
3           13         False
4           21         False


 ---flights table---

                                   trip_id origin_airport destination  \
0  604429-91952708353f470aa2d1721d9a3d9c83            LAX     el paso
1  604434-915ec3d3b5b248e993f9aa38bde55cd4            YQB    new york
2  604436-bc693592439f4414933904803852e6d1            NCA    new york
3  604441-6aaea1f9fc23405495316d514af99e0f            LNK    san jose
4  604448-89b189ca5faf4583964e46d8291c352c            YED    montreal

  destination_airport  seats  return_flight_booked      departure_time  \
0                 BIF      1                  True 2023-02-23 15:00:00
1                 LGA      1                  True 2023-03-06 07:00:00
2                 LGA      1                  True 2023-02-25 14:00:00
3                 SJO      1                  True 2023-02-25 13:00:00
4                 YMX      1                  True 2023-02-25 08:00:00

          return_time  checked_bags       trip_airline  \
0 2023-02-26 15:00:00             0            Ryanair
1 2023-03-09 07:00:00             0  American Airlines
2 2023-03-02 14:00:00             1      Allegiant Air
3 2023-03-02 13:00:00             0  Euro Exec Express
4 2023-03-01 08:00:00             1            Ryanair

   destination_airport_lat  destination_airport_lon  base_fare_usd
0                   31.849                 -106.380         205.73
1                   40.640                  -73.779         121.35
2                   40.640                  -73.779         127.20
3                   37.362                 -121.929         419.66
4                   45.517                  -73.417         464.14


 ---hotels table---

                                   trip_id                   hotel_name  \
0  839346-b0e565386f20495089cac474f2299b2b          Conrad  - vancouver
1  839347-1623aec055364453b4bbc836b56710ba           Rosewood - chicago
2  839348-24e8269ada0b452cac5c703f676e743c  Aman Resorts - philadelphia
3  839353-fb12a66b29194423b484cbe183359e23      NH Hotel  - los angeles
4  839354-8ade6371d7fb467daf164dbe277612c4          Marriott  - toronto

   nights  rooms           check_in_time      check_out_time  \
0       2      1 2023-05-24 13:30:24.030 2023-05-27 11:00:00
1       2      1 2023-05-25 14:53:15.720 2023-05-28 11:00:00
2      13      1 2023-05-20 11:00:00.000 2023-06-02 11:00:00
3       7      1 2023-05-27 22:14:28.815 2023-06-04 11:00:00
4       5      1 2023-05-26 11:00:00.000 2023-05-31 11:00:00

   hotel_per_room_usd
0               121.0
1               307.0
2                57.0
3                79.0
4                59.0

# 3. Merging tables
Considering the session table as the main table, other three tables are left join one by one to make a single dataframe (df_traveltide) with all data together.

In [ ]:
df_traveltide = pd.merge(df_sessions, df_users, on='user_id', how='left')# df_user left join on df_session
df_traveltide = pd.merge(df_traveltide, df_flights, on='trip_id', how='left')
df_traveltide = pd.merge(df_traveltide, df_hotels, on='trip_id', how='left') #df_traveltide has all four tables left join keeping session table as base table
df_traveltide.head()

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
0,455677-94aebf9acc05484e905414f6d2e7bcba,455677,None,2023-02-11 18:50:00,2023-02-11 18:51:09,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1,455685-249e18063cdb48faa5ff7b8f81f0da14,455685,455685-69f360f4554b4dee847a52136464d356,2023-02-11 02:39:00,2023-02-11 02:41:41,False,False,NaN,NaN,True,...,JetBlue Airways,41.786,-87.752,482.64,InterContinental - chicago,2.0,1.0,2023-02-21 12:28:37.785,2023-02-24 11:00:00,77.0
2,455709-62ed9594ac9047c68561faeabd29f19b,455709,455709-f90ec1b83c8e4c0cb29509c01473edc3,2023-02-11 17:38:00,2023-02-11 17:41:06,False,False,NaN,NaN,True,...,JetBlue Airways,35.042,-89.977,281.08,Choice Hotels - memphis,0.0,1.0,2023-02-18 13:56:01.590,2023-02-19 11:00:00,196.0
3,455736-5efe0ef5936b4a658fb4b7827df4458e,455736,455736-36029623c3a04507bbde765b1d068159,2023-02-11 17:40:00,2023-02-11 17:41:35,False,True,NaN,0.1,False,...,NaN,NaN,NaN,NaN,Four Seasons - milwaukee,4.0,1.0,2023-02-18 11:00:00.000,2023-02-22 11:00:00,62.0
4,455765-c300e8a6df754f9d95abd982b34ec177,455765,455765-c5b93d9a4a2b493c9369362d12b25495,2023-02-11 12:18:00,2023-02-11 12:20:36,False,False,NaN,NaN,True,...,United Airlines,45.323,-75.669,94.98,Rosewood - ottawa,0.0,1.0,2023-02-24 11:40:43.050,2023-02-24 11:00:00,187.0

# Basic Data exploration
An over view of collected data shows, Database provides us a dataframe of 5408063 rows and 41 feature columns. Data enteries are collected almost for two years, spaning the time frame  2021-04-01 to 2023-07-29. 5408063 unique sessions are there out of which only 2335845 sessions are dealing with trip_ids and resulting in 2245175 unique trips. Traveltide has 1020926 unique users.

In [ ]:
print('\n',df_traveltide.shape,'\n',"------------",'\n')
df_traveltide['user_id'] = df_traveltide['user_id'].astype(object)
print('\n',df_traveltide.info(),'\n'"------------",'\n')
print('\n',df_traveltide.describe().T,'\n',"------------",'\n')
print('\n',df_traveltide.describe(include= 'object').T,'\n',"------------",'\n')

 (5408063, 41)
 ------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5408063 entries, 0 to 5408062
Data columns (total 41 columns):
 #   Column                   Dtype
---  ------                   -----
 0   session_id               object
 1   user_id                  object
 2   trip_id                  object
 3   session_start            datetime64[ns]
 4   session_end              datetime64[ns]
 5   flight_discount          bool
 6   hotel_discount           bool
 7   flight_discount_amount   float64
 8   hotel_discount_amount    float64
 9   flight_booked            bool
 10  hotel_booked             bool
 11  page_clicks              int64
 12  cancellation             bool
 13  birthdate                object
 14  gender                   object
 15  married                  bool
 16  has_children             bool
 17  home_country             object
 18  home_city                object
 19  home_airport             object
 20  home_airport_lat         float64
 21  home_airport_lon         float64
 22  sign_up_date             object
 23  origin_airport           object
 24  destination              object
 25  destination_airport      object
 26  seats                    float64
 27  return_flight_booked     object
 28  departure_time           datetime64[ns]
 29  return_time              datetime64[ns]
 30  checked_bags             float64
 31  trip_airline             object
 32  destination_airport_lat  float64
 33  destination_airport_lon  float64
 34  base_fare_usd            float64
 35  hotel_name               object
 36  nights                   float64
 37  rooms                    float64
 38  check_in_time            datetime64[ns]
 39  check_out_time           datetime64[ns]
 40  hotel_per_room_usd       float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(1), object(15)
memory usage: 1.4+ GB

 None
------------


                              count                           mean  \
session_start              5408063  2022-12-12 02:37:01.270521344
session_end                5408063  2022-12-12 02:40:35.487094272
flight_discount_amount    885796.0                       0.139765
hotel_discount_amount     691380.0                        0.11095
page_clicks              5408063.0                      18.766031
home_airport_lat         5408063.0                      38.552075
home_airport_lon         5408063.0                     -93.917546
seats                    1990382.0                       1.277859
departure_time             1990382  2023-01-14 10:51:34.890328832
return_time                1898156  2023-01-20 03:26:25.106388992
checked_bags             1990382.0                         0.6248
destination_airport_lat  1990382.0                       37.87522
destination_airport_lon  1990382.0                     -80.173799
base_fare_usd            1990382.0                     714.099763
nights                   1962920.0                       4.393498
rooms                    1962920.0                       1.189723
check_in_time              1962920  2022-12-30 15:39:33.355757056
check_out_time             1962920  2023-01-04 12:24:46.935788800
hotel_per_room_usd       1962920.0                     177.309672

                                                min  \
session_start                   2021-04-01 00:42:00
session_end                     2021-04-01 00:43:40
flight_discount_amount                         0.05
hotel_discount_amount                          0.05
page_clicks                                     0.0
home_airport_lat                             21.316
home_airport_lon                           -157.927
seats                                           0.0
departure_time                  2021-04-06 07:00:00
return_time                     2021-04-09 07:00:00
checked_bags                                    0.0
destination_airport_lat                     -37.008
destination_airport_lon                    -157.927
base_fare_usd                                   0.0
nights                                         -2.0
rooms                                           0.0
check_in_time            2021-04-06 10:40:44.175000
check_out_time                  2021-04-08 11:00:00
hotel_per_room_usd                              8.0

                                                   25%  \
session_start                      2022-08-30 12:52:00
session_end                 2022-08-30 12:57:44.500000
flight_discount_amount                             0.1
hotel_discount_amount                             0.05
page_clicks                                        7.0
home_airport_lat                                33.942
home_airport_lon                              -112.008
seats                                              1.0
departure_time                     2022-10-05 07:00:00
return_time                        2022-10-10 12:00:00
checked_bags                                       0.0
destination_airport_lat                         33.535
destination_airport_lon                       -112.383
base_fare_usd                                   207.01
nights                                             1.0
rooms                                              1.0
check_in_time            2022-09-19 10:48:04.736250112
check_out_time                     2022-09-24 11:00:00
hotel_per_room_usd                                99.0

                                                   50%                  75%  \
session_start                      2023-01-28 09:13:00  2023-04-22 20:33:00
session_end                        2023-01-28 09:16:45  2023-04-22 20:37:01
flight_discount_amount                             0.1                  0.2
hotel_discount_amount                              0.1                 0.15
page_clicks                                       15.0                 23.0
home_airport_lat                                39.297               42.276
home_airport_lon                               -89.977              -77.456
seats                                              1.0                  1.0
departure_time                     2023-02-18 12:00:00  2023-05-23 10:00:00
return_time                        2023-02-23 10:00:00  2023-05-28 15:00:00
checked_bags                                       1.0                  1.0
destination_airport_lat                         39.858               42.409
destination_airport_lon                        -87.752              -73.779
base_fare_usd                                   405.36               660.51
nights                                             3.0                  6.0
rooms                                              1.0                  1.0
check_in_time            2023-02-10 13:30:26.122500096  2023-05-10 11:00:00
check_out_time                     2023-02-15 11:00:00  2023-05-14 11:00:00
hotel_per_room_usd                               148.0                222.0

                                                max          std
session_start                   2023-07-28 23:57:55          NaN
session_end                     2023-07-29 01:57:55          NaN
flight_discount_amount                         0.85     0.085191
hotel_discount_amount                          0.65     0.062021
page_clicks                                  2421.0    22.180703
home_airport_lat                             61.251     6.119254
home_airport_lon                            -63.499    18.099381
seats                                          12.0     0.681713
departure_time                  2024-07-19 22:00:00          NaN
return_time                     2024-08-19 18:00:00          NaN
checked_bags                                   13.0     0.746329
destination_airport_lat                      58.789     8.605096
destination_airport_lon                     174.792    49.485013
base_fare_usd                              29987.92  1233.925055
nights                                        107.0     4.573541
rooms                                           6.0     0.489183
check_in_time            2024-07-20 17:08:06.585000          NaN
check_out_time                  2024-08-13 11:00:00          NaN
hotel_per_room_usd                           2377.0   117.197108
 ------------


                         count   unique  \
session_id            5408063  5408063
user_id               5408063  1020926
trip_id               2335845  2245175
birthdate             5408063    22581
gender                5408063        3
home_country          5408063        2
home_city             5408063      105
home_airport          5408063      159
sign_up_date          5408063      831
origin_airport        1990382      159
destination           1990382      140
destination_airport   1990382      219
return_flight_booked  1990382        2
trip_airline          1990382      355
hotel_name            1962920     2798

                                                          top     freq
session_id            455513-05db967070bf473a8bd36cdd4de48415        1
user_id                                                 36751       17
trip_id               221685-92bb7e5b43194492addc74a5158bd182        2
birthdate                                          2006-09-26      879
gender                                                      M  2722001
home_country                                              usa  4493643
home_city                                            new york   644028
home_airport                                              JFK   322072
sign_up_date                                       2022-12-17    14013
origin_airport                                            JFK   124648
destination                                          new york   262144
destination_airport                                       LGA   131191
return_flight_booked                                     True  1898156
trip_airline                                  Delta Air Lines   280501
hotel_name                               Radisson  - new york    14247
 ------------

# 3. Filtering data and Cohort Selection
 To Work on chronologicaly recent data, records after 2023-01-04 has been filtered, Also, user with more than 7 sessions have been selected considering them enough onsite active  to better understand the customer behavior. After applying these two filters a cohort is selected and named df_filtered_cohort, for further analysis.

In [ ]:
# taking rows after 2023-01-04, retreiving most recent data
df_traveltide= df_traveltide[(df_traveltide['session_start'] >= '2023-01-04')]
print(f"{df_traveltide.shape} are the rows and column of df_traveltide after date filter applied.")

# taking users which are active enough to do atleast 8 sessions, to have enough data to work on
session_counts = df_traveltide.groupby('user_id')['session_id'].count()
filtered_users = session_counts[session_counts > 7].index
session_counts = df_traveltide.groupby('user_id')['session_id'].count()
df_filtered_cohort = df_traveltide[df_traveltide['user_id'].isin(filtered_users)]
df_filtered_cohort.reset_index(drop=True, inplace=True)
print(f"{df_filtered_cohort.shape} are the rows and column of df_traveltide after date filter and session filter applied.")


#after applying the filters for date (2023-01-04)and least number of sessions per user(>7)
df_filtered_cohort

(3102851, 41) are the rows and column of df_traveltide after date filter applied.
(49211, 41) are the rows and column of df_traveltide after date filter and session filter applied.

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
0,458725-9d7fdc454e624537bb738d3e9d703059,458725,None,2023-02-11 17:29:00,2023-02-11 17:29:15,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
1,459645-7f696a96417f47fda2f8d2955c961c5a,459645,459645-31f1c032b1b7483ca279a20ccac0dd40,2023-02-11 13:14:00,2023-02-11 13:18:04,False,False,NaN,NaN,True,...,First Air,45.323,-75.669,695.78,Four Seasons - ottawa,5.0,2.0,2023-02-19 11:29:38.175,2023-02-24 11:00:00,119.0
2,466342-af4b9a80d5f54f1fac2021dfe3da50a6,466342,466342-cc66dcf3fd9f4d0081cde3ec98e43c35,2023-02-11 07:26:00,2023-02-11 07:27:30,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,Extended Stay - new york,16.0,2.0,2023-02-24 11:00:00.000,2023-03-12 11:00:00,210.0
3,468666-1ed7f6582ead42aebef29c6b25cc2fcb,468666,None,2023-02-11 05:30:00,2023-02-11 05:32:26,True,False,0.45,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
4,473332-e66dbbefcc7d4e2aa3d34d173b2c2d4b,473332,473332-fb6ae60899ea4651b707286c646f675c,2023-02-11 21:02:00,2023-02-11 21:08:16,False,False,NaN,NaN,True,...,Frontier Airlines,39.872,-75.241,640.06,Wyndham - philadelphia,1.0,1.0,2023-02-19 14:49:13.530,2023-02-21 11:00:00,212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,444885-51d91e73a64842f187580d526d0bbff3,444885,None,2023-02-11 19:27:00,2023-02-11 19:30:01,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
49207,447951-346899a909aa465892e79cabaf956841,447951,None,2023-02-11 22:19:00,2023-02-11 22:27:21,False,False,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
49208,452612-ba99dbbd2ab648e38683b0301f178ab2,452612,452612-569e933c38de4ecf87a66bdd8556dce4,2023-02-11 18:57:00,2023-02-11 19:12:50,False,True,NaN,0.1,True,...,Allegiant Air,32.699,-117.215,565.43,Wyndham - san diego,3.0,1.0,2023-02-25 14:31:26.625,2023-03-01 11:00:00,153.0
49209,454616-1ae57ec8e4e048399148fbefda6d073d,454616,None,2023-02-11 21:39:00,2023-02-11 21:41:58,True,False,0.15,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
49210,454920-13249f49fb15492caf94a0ad608d1891,454920,454920-fab6a41771eb46d28ce67abfb45f756b,2023-02-11 18:45:00,2023-02-11 18:47:45,False,False,NaN,NaN,True,...,Euro Exec Express,37.362,-121.929,736.83,Hilton - san jose,1.0,1.0,2023-02-20 17:08:33.990,2023-02-22 11:00:00,111.0

# CSV created
Filtered rows are saved in df_filteref_cohort, a copy of this is made and further CSV created to work on next steps in pipline.

In [ ]:
df_cohort = df_filtered_cohort.copy()
df_filtered_cohort.to_csv('df_cohort.csv', index=False)
df_cohort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49211 entries, 0 to 49210
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               49211 non-null  object
 1   user_id                  49211 non-null  object
 2   trip_id                  16702 non-null  object
 3   session_start            49211 non-null  datetime64[ns]
 4   session_end              49211 non-null  datetime64[ns]
 5   flight_discount          49211 non-null  bool
 6   hotel_discount           49211 non-null  bool
 7   flight_discount_amount   8282 non-null   float64
 8   hotel_discount_amount    6205 non-null   float64
 9   flight_booked            49211 non-null  bool
 10  hotel_booked             49211 non-null  bool
 11  page_clicks              49211 non-null  int64
 12  cancellation             49211 non-null  bool
 13  birthdate                49211 non-null  object
 14  gender                   49211 non-null  object
 15  married                  49211 non-null  bool
 16  has_children             49211 non-null  bool
 17  home_country             49211 non-null  object
 18  home_city                49211 non-null  object
 19  home_airport             49211 non-null  object
 20  home_airport_lat         49211 non-null  float64
 21  home_airport_lon         49211 non-null  float64
 22  sign_up_date             49211 non-null  object
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  object
 28  departure_time           14270 non-null  datetime64[ns]
 29  return_time              13652 non-null  datetime64[ns]
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
 35  hotel_name               14726 non-null  object
 36  nights                   14726 non-null  float64
 37  rooms                    14726 non-null  float64
 38  check_in_time            14726 non-null  datetime64[ns]
 39  check_out_time           14726 non-null  datetime64[ns]
 40  hotel_per_room_usd       14726 non-null  float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(1), object(15)
memory usage: 13.1+ MB

## Fixing detypes of columns
Some of features are not in appropriate detype, for these coloumn it is fixed accordingly.

In [ ]:
df_cohort['temp'] = -1

df_cohort['temp'] = np.where(df_cohort['return_flight_booked'] == True, 1, df_cohort['temp'])
df_cohort['temp'] = np.where(df_cohort['return_flight_booked'] == False, 0, df_cohort['temp'])
df_cohort['temp'].replace(-1, np.nan, inplace=True)
#df_cohort['temp'].value_counts()

<ipython-input-10-f33b29a2e4e5>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cohort['temp'].replace(-1, np.nan, inplace=True)

In [ ]:
df_cohort['user_id'] = df_cohort['user_id'].astype(object)
df_cohort['birthdate'] = pd.to_datetime(df_cohort['birthdate'])
df_cohort['sign_up_date'] = pd.to_datetime(df_cohort['sign_up_date'])
df_cohort['return_flight_booked'] = df_cohort['temp']
df_cohort.drop(columns=['temp'], inplace=True)
df_cohort.info()
#df_cohort['return_flight_booked'] = df_cohort['return_flight_booked'].astype(bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49211 entries, 0 to 49210
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               49211 non-null  object
 1   user_id                  49211 non-null  object
 2   trip_id                  16702 non-null  object
 3   session_start            49211 non-null  datetime64[ns]
 4   session_end              49211 non-null  datetime64[ns]
 5   flight_discount          49211 non-null  bool
 6   hotel_discount           49211 non-null  bool
 7   flight_discount_amount   8282 non-null   float64
 8   hotel_discount_amount    6205 non-null   float64
 9   flight_booked            49211 non-null  bool
 10  hotel_booked             49211 non-null  bool
 11  page_clicks              49211 non-null  int64
 12  cancellation             49211 non-null  bool
 13  birthdate                49211 non-null  datetime64[ns]
 14  gender                   49211 non-null  object
 15  married                  49211 non-null  bool
 16  has_children             49211 non-null  bool
 17  home_country             49211 non-null  object
 18  home_city                49211 non-null  object
 19  home_airport             49211 non-null  object
 20  home_airport_lat         49211 non-null  float64
 21  home_airport_lon         49211 non-null  float64
 22  sign_up_date             49211 non-null  datetime64[ns]
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  float64
 28  departure_time           14270 non-null  datetime64[ns]
 29  return_time              13652 non-null  datetime64[ns]
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
 35  hotel_name               14726 non-null  object
 36  nights                   14726 non-null  float64
 37  rooms                    14726 non-null  float64
 38  check_in_time            14726 non-null  datetime64[ns]
 39  check_out_time           14726 non-null  datetime64[ns]
 40  hotel_per_room_usd       14726 non-null  float64
dtypes: bool(7), datetime64[ns](8), float64(13), int64(1), object(12)
memory usage: 13.1+ MB

In [ ]:
# Test saving to parquet file

# Save to Parquet format
df_cohort.to_parquet('df_cohort.parquet')

# Load from Parquet format
loaded_df = pd.read_parquet('df_cohort.parquet')

# Verify the dtypes
print("Original DataFrame dtypes:\n", df_cohort.dtypes)
print("\nLoaded DataFrame dtypes:\n", loaded_df.dtypes)
print("\nAre dtypes the same?", (df_cohort.dtypes == loaded_df.dtypes).all())

Original DataFrame dtypes:
 session_id                         object
user_id                            object
trip_id                            object
session_start              datetime64[ns]
session_end                datetime64[ns]
flight_discount                      bool
hotel_discount                       bool
flight_discount_amount            float64
hotel_discount_amount             float64
flight_booked                        bool
hotel_booked                         bool
page_clicks                         int64
cancellation                         bool
birthdate                  datetime64[ns]
gender                             object
married                              bool
has_children                         bool
home_country                       object
home_city                          object
home_airport                       object
home_airport_lat                  float64
home_airport_lon                  float64
sign_up_date               datetime64[ns]
origin_airport                     object
destination                        object
destination_airport                object
seats                             float64
return_flight_booked              float64
departure_time             datetime64[ns]
return_time                datetime64[ns]
checked_bags                      float64
trip_airline                       object
destination_airport_lat           float64
destination_airport_lon           float64
base_fare_usd                     float64
hotel_name                         object
nights                            float64
rooms                             float64
check_in_time              datetime64[ns]
check_out_time             datetime64[ns]
hotel_per_room_usd                float64
dtype: object

Loaded DataFrame dtypes:
 session_id                         object
user_id                             int64
trip_id                            object
session_start              datetime64[ns]
session_end                datetime64[ns]
flight_discount                      bool
hotel_discount                       bool
flight_discount_amount            float64
hotel_discount_amount             float64
flight_booked                        bool
hotel_booked                         bool
page_clicks                         int64
cancellation                         bool
birthdate                  datetime64[ns]
gender                             object
married                              bool
has_children                         bool
home_country                       object
home_city                          object
home_airport                       object
home_airport_lat                  float64
home_airport_lon                  float64
sign_up_date               datetime64[ns]
origin_airport                     object
destination                        object
destination_airport                object
seats                             float64
return_flight_booked              float64
departure_time             datetime64[ns]
return_time                datetime64[ns]
checked_bags                      float64
trip_airline                       object
destination_airport_lat           float64
destination_airport_lon           float64
base_fare_usd                     float64
hotel_name                         object
nights                            float64
rooms                             float64
check_in_time              datetime64[ns]
check_out_time             datetime64[ns]
hotel_per_room_usd                float64
dtype: object

Are dtypes the same? False

In [ ]:
res = pd.DataFrame({'original': df_cohort.dtypes, 'loaded': loaded_df.dtypes})
res['res'] = res['original'] == res['loaded']
res

                               original          loaded    res
session_id                       object          object   True
user_id                          object           int64  False
trip_id                          object          object   True
session_start            datetime64[ns]  datetime64[ns]   True
session_end              datetime64[ns]  datetime64[ns]   True
flight_discount                    bool            bool   True
hotel_discount                     bool            bool   True
flight_discount_amount          float64         float64   True
hotel_discount_amount           float64         float64   True
flight_booked                      bool            bool   True
hotel_booked                       bool            bool   True
page_clicks                       int64           int64   True
cancellation                       bool            bool   True
birthdate                datetime64[ns]  datetime64[ns]   True
gender                           object          object   True
married                            bool            bool   True
has_children                       bool            bool   True
home_country                     object          object   True
home_city                        object          object   True
home_airport                     object          object   True
home_airport_lat                float64         float64   True
home_airport_lon                float64         float64   True
sign_up_date             datetime64[ns]  datetime64[ns]   True
origin_airport                   object          object   True
destination                      object          object   True
destination_airport              object          object   True
seats                           float64         float64   True
return_flight_booked            float64         float64   True
departure_time           datetime64[ns]  datetime64[ns]   True
return_time              datetime64[ns]  datetime64[ns]   True
checked_bags                    float64         float64   True
trip_airline                     object          object   True
destination_airport_lat         float64         float64   True
destination_airport_lon         float64         float64   True
base_fare_usd                   float64         float64   True
hotel_name                       object          object   True
nights                          float64         float64   True
rooms                           float64         float64   True
check_in_time            datetime64[ns]  datetime64[ns]   True
check_out_time           datetime64[ns]  datetime64[ns]   True
hotel_per_room_usd              float64         float64   True

Please move on to 2nd notebook.

Notebook #1:This note book includes the data retreiving from database, selecting cohort and creating  csv to work further. https://drive.google.com/file/d/1oqZ2FsEBxgczXu-DlsxMo1XQIMMgAnP1/view?usp=sharing

Notebook #2:This notebook contains the EDA and creation of userbased table for M.L. https://colab.research.google.com/drive/1nNKIfJUCpx0ck2U2BAn800pSYgmSdw-T?usp=sharing

Notebook #3:
This notebook contains the PCA and clustring. https://colab.research.google.com/drive/1LrMeTDgjzStPT4a8MwGloUZSqwEHLKvr?usp=sharing